:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-collor: #3a435d;
    --accent-color: #0071ff;
}
.darkmode{
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-collor: #3a435d;
    --accent-color: #0071ff;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--primary-collor);

}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
    
}